# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Environment
.env

# IDE
.vscode/
.idea/

# Jupyter cache
.ipynb_checkpoints/

# Dataset
training/PlantVillage/

# Old Keras models
models/1/
models/2/
models/3/
models/4/

# OS
Thumbs.db
Desktop.ini

# node_moduels 
node_modules/